* {
    margin: 0;
    padding: 0;
}

h1 {
    color: rgba(78, 24, 24, 0.81);
    font-size: 33px;
}

@width900: 900px;

article.sound {
    width: @width900;
    margin: 50px auto;
    outline: 1px solid red;
    font-size: 0;
    section.sound-content {
        width: @width900/2;
        display: inline-block;
        font-size: 18px;
        a img {
            border-radius: 50%;
        }
    }
}

body {
    background: blue;
}